@import "tailwindcss";

.bg-my-primary {
    @apply bg-gray-900;
}

.bg-my-contrast {
    background-color: rgb(33, 33, 33);
}

.bg-my-accent {
    background-color: rgb(16, 231, 113);
}

.nav-link {
    @apply text-white text-xl no-underline w-1/2 text-center p-3 hover:text-gray-400 transition duration-300 visited:text-white;
}

.card-style {
    @apply bg-gray-800 rounded-lg px-6 py-8 ring shadow-xl ring-gray-900/5;
}


/* .navbar-brand {
    transition: color 0.3s ease, background-color 0.3s ease;
    color: rgb(159, 159, 159);
} */

/* .navbar-brand:hover {
    color: #ffffff;
    background-color: #0dfd91;
    cursor: pointer;
} */